@using Mission8.Models
@model List<TaskModel>


<table class="table table-sm table-hover mt-2">
    <thead class="table-dark">
    <tr>
        <th>Task</th>
        <th>Due Date</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var t in Model)
    {
        <tr>
            <td>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="text-decoration-none fw-bold">
                    @t.TaskName
                </a>
            </td>
            <td>@t.DueDate?.ToShortDateString()</td>
            <td>@t.Category?.CategoryName</td>
            <td>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-outline-info btn-sm">Edit</a>
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>